.contact {
    background: $lightblue;
    min-height: 400px;
    color: $white;
    margin-top: 4rem;
    
    .container__elem > .main__col1 > p {
        margin-top: 1rem;
        margin-bottom: 6rem;
    }

    &__columns {
        display: grid;
        grid-auto-flow: column;
        column-gap: 5rem;

        @include breakpoint-up(computer) {
            column-gap: 10rem;
        }

        @include breakpoint-up(largeComputer) {
            column-gap: 20rem;
        }
        .main__col1 {
            @include breakpoint-up(computer) {
                h1 {
                    white-space: nowrap;
                    font-size: $font-xl-fallback;
                    font-size: $font-xl;
                }
    
                p {
                    font-size: $font-sm-fallback;
                    font-size: $font-sm;
                }
            }
        }
        .main__col2 {
            align-self: center;
            img {
                border-radius: 50%;
                border: 5px solid $white;
            }
            @include breakpoint-down(iphone) {
                display: none;
            }
        }
    }

    &__cta {
        margin-bottom: 1.7rem;

        a {
            display: block;
            color: $white;
            font-size: $font-xs-fallback;
            font-size: $font-xs;
            transition: $transition-200ms;

            &:hover {
                text-decoration: underline;
            }

            &::before {
                content: "";
                display: inline-block;
                background-size: 100% 100%;
                background-position: center center;
                background-repeat: no-repeat;
                width: 3rem;
                height: 3rem;
                margin-right: 1.7rem;
                vertical-align: -40%;
            }
        }

        &:last-of-type {
            margin-bottom: 6rem;
            
            a:before {
             background-image: url("../../images/icons/mail-icon.svg");
             }
         }
 
         &:first-of-type > a:before {
             background-image: url("../../images/icons/phone-icon.svg");
         }
    }

    .button {
        color: $white;
    }
}