.femfaser {
    color: $black;
    display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: start;
        column-gap: 3rem;
        
        @include breakpoint-up(ipad) {
            grid-template-columns: 1.5fr 1fr;
            column-gap: 10rem;
        }

        
        @include breakpoint-up(computer) {
            column-gap: 10rem;
        }
        
        @include breakpoint-down (iphone) {
            grid-auto-flow: unset;
            justify-content: unset;
        }
        
        /*
         @include breakpoint-up(computer) {
            justify-items: start;
            column-gap: 10rem;
            grid-template-columns: 380px 350px;
        }
        */
    &__heading {
        text-align: center;
        color: $white;
    }

    &__label {
        position: relative;

        button {
            position: absolute;
            bottom: 25%;
            color: #515f6d;
            font-size: 5rem;
            background-color: transparent;
            border: none;
            will-change: opacity;
            transition: $transition-200ms;
            cursor: pointer;
            transform: translateY(25px);
            
            &:first-of-type {  
                left: -10px;
                opacity: 0%;
            }
            
            &:last-of-type {
                right: -10px;
            }
        }
    }

    &__fasenummer {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 3px solid $lightgray;
            background: $white;
            color: $green;

            h1 {
                color: inherit;
            }
    }

    &__fasenavn {
        width: 80%;
        margin-top: -18px;
        background: #A5BA74;
        z-index: -1;
        
        h2 {
            padding: 20px 0 10px 0;
        }
    }
    
    &__progress {
        position: relative;
        width: 60%;
        margin: 0 auto;
        margin-top: 3.4rem;
        margin-bottom: 3.4rem;
        
        @include breakpoint-up(largeComputer) {
            width: 45%;
        }
        
        &::before {
            content: '';
            position: absolute;
            background-color: var(--line-border-fill);
            top: 45%;
            height: 3px;
            width: 90%;
            z-index: -1;
            transform: translateX(5%);
        }
    }
    
    &__circle {
        background-color: $lightgray;
        border-radius: 50px;
        width: 18px;
        padding-top: 18px;
        transition: $transition-200ms;
        pointer-events: none;
    }
    
    &__textcont {
        
        h3 {
            color: $darkblue;
        }
        
        .main__bodytext {
            color: $black;
        }
        
        .main__bodytext ~ h3 {
            margin: 3.4rem 0 1rem 0;
        }
    }
    
    &__tlf {
        background: #A5BA74;
        transition: $transition-200ms;
        padding: 1.5rem 0;
        height: max-content;
    
    }
    
    &__mail {
        background: #A5BA74;
        transition: $transition-200ms;
        padding: 1.5rem 0;
        height: max-content;
    }

    .main__col1 {
        align-self: start;
    }

    .main__col2 {
        row-gap: 3.4rem;
        
        @include breakpoint-down(iphone){
            margin-top: 6rem;
            row-gap: unset;
            justify-self: center;
            figure {
                display: none;
            }
        }
        
        div {
            text-align: center;
        
            
            a {
                font-size: $font-xs-fallback;
                font-size: $font-xs;
                color: $white;
                text-decoration: underline;
            }
        }

        img {
            height: 100%;
        }

    }

    .videmere {
        text-align: center;
    }

}