footer {
    background-color: $darkblue;

}
.footer {
    color: $white;
    font-size: $font-xs-fallback;
    font-size: $font-xs;
    position: relative;

    @include breakpoint-up(ipad) {
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
    }

    &__container {
        &:first-child {
            p:last-of-type {
                margin-top: 1.7rem;
            }
        }

        &:not(:first-child) {
            margin-top: 3rem;
            @include breakpoint-up(ipad) {
                margin-top: 0;
            }
        }

        h4 ~ p:nth-of-type(3) {
            margin-top: 1.7rem;
        }

        p:last-of-type {
            margin-bottom: 1.7rem;
        }

        a {
            display: inline-block;
            text-decoration: underline;
            color: inherit;
            font-size: inherit;
        }

        figure {
            margin-bottom: 1.7rem;
        }

        @include breakpoint-up(ipad) {
            &:not(:last-child) {
                margin-bottom: 5.5rem;
                margin-right: 6rem;
            }
            h4 {
                margin-bottom: 1.7rem;
            }
        }
    }
}