footer {
    background-color: $darkblue;

}
.footer {
    color: $white;
    font-size: $font-xs-fallback;
    font-size: $font-xs;
    position: relative;

    @include breakpoint-up(ipad) {
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
    }

    &__container {
        p:first-of-type {
            margin-bottom: 1.7rem;
        }            

        &:first-child {
            p:nth-child(5) {
                margin-top: 1.7rem;
            }
        }

        &:not(:last-child) {
            margin-top: 3rem;
            @include breakpoint-up(ipad) {
                margin-top: 0;
            }
        }

        p:last-of-type {
            margin-bottom: 1.7rem;
        }

        a {
            display: inline-block;
            text-decoration: underline;
            color: inherit;
            font-size: inherit;
            transition: $transition-200ms;
            width: max-content;
            
            &:hover {
                color: $gold;
            }
        }

        figure {
            margin-bottom: 1.7rem;
        }

        @include breakpoint-up(ipad) {
            &:not(:last-child) {
                margin-bottom: 5.5rem;
                margin-right: 6rem;
            }
        }
    }
}