@viewport {
    orientation: portrait;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.7;
    counter-reset: item;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}

figure {
    margin: 0;
    padding: 0;
}

// List styles
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
// Links
a, a:visited, a:hover {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -0.013em;
    transition: $transition-200ms;
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-e {
        justify-content: end;
    }
    &-ai-c {
        align-items: center;
    }
    &-jc-st {
        justify-content: start;
    }
    &-ai-st {
        align-items: start;
    }
}

// Typography
p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
p {
    font-size: $font-sm-fallback;
    font-size: $font-sm;
}

h1 {
    font-size:  $font-l-fallback;
    font-size:  $font-l;
}

h2 {
    font-size: $font-med-fallback;
    font-size: $font-med;
}

// Spacing
.container {
    margin: 0 auto;
    max-width: 69.375rem;

    &--pall {
        padding: 6rem 2rem;
    }
}