@viewport {
    orientation: portrait;
}

html {
    height: -webkit-fill-available;
    font-size: 62.5%;
    box-sizing: border-box;
    --line-border-fill: #515f6d;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    counter-reset: item item2;
}

figure {
    margin: 0;
    padding: 0;
}

// List styles
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
// Links
a, a:visited, a:hover {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -0.013em;
    transition: $transition-200ms;
}

// Flexbox
.flex {
    display: flex;

    &-dr-col {
        flex-direction: column;
    }
    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-e {
        justify-content: end;
    }
    &-ai-c {
        align-items: center;
    }
    &-jc-st {
        justify-content: start;
    }
    &-ai-st {
        align-items: start;
    }
}

// Typography
p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
p {
    font-size: $font-xs-fallback;
    font-size: $font-xs;
}

h1 {
    font-size:  $font-l-fallback;
    font-size:  $font-l;
}

h2 {
    font-size: $font-med-fallback;
    font-size: $font-med;
}
h3 {
    font-size: $font-sm-fallback;
    font-size: $font-sm;
}

h4 {
    font-size: $font-xs-fallback;
    font-size: $font-xs;
}

.overskrift {
    font-weight: 400;
    color: inherit;
    line-height: normal;

    @include breakpoint-down(iphone) {
        font-size: $font-med-fallback;
        font-size: $font-med;
    }
}

// Buttons

.button {
    width: max-content;
    color: $lightblue;
    font-size: $font-xs-fallback;
    font-size: $font-xs;
    text-decoration: underline;
    font-weight: 700;
    position: relative;
    transition: $transition-200ms;
    
    &::after {
        display: inline;
        padding-left: 1rem;
        position: absolute;
        top: 0;
        line-height: normal;
        content: ">";
        transition: $transition-200ms;
        font-size: $font-xs-fallback;
        font-size: $font-xs;
    }

    &:hover {
        color: $green;
        
        &::after {
            padding-left: 2rem;
        }
    }
}

// Spacing
.container {
    padding-left: 2rem;
    padding-right: 2rem;
    
    @include breakpoint-up(ipad) {
        padding-left: 5rem;
        padding-right: 5rem;
    };
    @include breakpoint-up(computer) {
        padding-right: 24rem;
    }
    @include breakpoint-up(largeComputer) {
        padding-left: 20rem;
        padding-right: 35rem;
    }

    @include breakpoint-up(xlargeComputer) {
        //padding-left: 50rem;
        //padding-right: 50rem;
    }

    &__elem {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;

        @include breakpoint-up(xlargeComputer) {
            max-width: unset;
        }
    }

    &--ptb {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include breakpoint-up(ipad) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }

        @include breakpoint-up(computer) {
            padding-top: 10rem;
            padding-bottom: 10rem;
        }
    }
    
    &--ptbfemfaser {
        padding-top: 8rem;
        padding-bottom: 8rem;

        @include breakpoint-up(computer) {
            padding-top: 15rem;
            padding-bottom: 15rem;
        }
    }
    &--ptbfooter {
        padding-top: 5rem;
        padding-bottom: 5rem;

        @include breakpoint-up(ipad) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }

        @include breakpoint-up(computer) {
            padding-top: 15rem;
            padding-bottom: 15rem;
        }
    }

    .visible {
        animation: fade .2s ease-in-out;
    }

    .hidden {
        display: none;
        animation: fade .2s ease-in-out;
    }
}

.divider {
    display: block;
    opacity: 0.7;
    max-width: 70%;
    width: 100%;
    margin: 1.7rem auto;

    @include breakpoint-up(ipad) {
        margin: 3.4rem auto;
    }

    @include breakpoint-up(computer) {
        max-width: 60%;
    }
}

.femfaser ~ .divider {
        margin: 0 auto 1.7rem auto;

        @include breakpoint-up(ipad) {
            margin: 0 auto 3.4rem auto;
        }
}