// ToDO FIX MENU SELECTOR
.header {
    position: absolute;
    @include breakpoint-up(computer) {
        .mobile-lines {
            display: none;
        }
    }

    // Hamburger Open Styles
    &.open {
        body  {
            overflow: hidden;
        }
        .header {
            pointer-events: all;
        }   
        nav {
            background-color: $white;
            position: fixed;

            .header__logo {
                visibility: visible;
                margin-bottom: 5rem;
            }

        }
        .header__mobile-logo {
            visibility: hidden;
        }

        .header__menu {
            visibility: visible;
            transform: translateY(0px) translateZ(0px);
        }

        .header__menu > li > a {
            transition: all 0.2s ease-in-out;

            &:first-of-type > a::after {
                transition: $transition-200ms;
            }

            &:last-of-type > a::after {
                transition: $transition-200ms;
            }
        }

        .header__burger {
            > span{
                background-color: transparent;
            }

            > span::before {
                transform: rotate(45deg);
                top: 0;
                background-color: $darkblue;
            }

            > span::after {
                transform: rotate(-45deg);
                top: 0;
                background-color: $darkblue;
            }
        }
    }

    nav {
        height: 100vh;
        width: 100vw;
        padding: 3rem 2rem;
        transition: $transition-200ms;
        z-index: 2;
        position: fixed;
        pointer-events: none;
        
        .nav {
            position: fixed;
        }

        .active-menu {
            > a {
                color: $gold;
            }
            &::before {
                color: $gold;
            }
        }

        ul {
            pointer-events: auto;
        }

        @include breakpoint-up(computer) {
            padding: 5rem 2rem;
        }


        @include breakpoint-up(computer) {
            height: unset;
            width: 240px;
            right: 0;

            ul {
                width: 160px;

                li {
                    color: $white;

                    a:hover {
                        color: $gold;
                        //TODO fix transition, the after lags compared to text

                        &::after {
                            color: $gold;
                        }
                    }
                }

            }
        }

        .header__logo {
            visibility: hidden;
            display: block;
            width: 97px;
            height: 54px;
            background-image: url("../../images/logo-color.svg");
            background-repeat: no-repeat;
            will-change: visibility;

            @include breakpoint-up(computer) {
                visibility: visible;
                background-image: url("../../images/logo-grey.svg");
                margin-bottom: 5rem;
                margin-left: 3.5rem;
            }
        }
        .takaro {

            .header__logo {
                @include breakpoint-up(computer) {
                background-image: url("../../images/logo-color.svg");
                }
            }
            ul > li {
                color: $darkblue;
                &::before {
                    opacity: 0.6;
                }

                .active-menu {
                    > a {
                        color: $lightblue;

                        &:hover {
                            color: $lightblue;
                        }
                    }
                }
            }
        }
    }

    &__menu {
       @include breakpoint-down(ipad) {
            visibility: hidden;
            transform: translateY(-10px) translateZ(0px);
            transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
            //TODO make fade-in fade-out keyframes where the transform is removed on fade out
       }

        > li {
            font-size: 18px;
            font-size: 1.8rem;
            margin-bottom: 2.5rem;
            color: $darkblue;

            &::marker {
                font-size: $font-med-fallback;
                font-size: $font-med;
            }

            &::before {
                font-family: 'Roboto Mono', monospace;
                color: $gray;
                content: "0" counter(item);
                counter-increment: item;
                width: 2em;
                float: left;
                font-weight: 400;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &.active-menu {
                color: $lightblue;
            }
            > a {
                display: block;
                overflow: hidden;
                color: inherit;
                font-weight: 700;
                transition: none;

                &:hover, &:focus {
                    color: $lightblue;
                }
            }

            &:first-of-type > a::after {
                content: "()";
                display: inline;
                color: $gray;
                transition: none;
            }
            &:last-of-type > a::after {
                content: ";";
                display: inline;
                color: $gray;
                transition: none;
            }
        }
        

    }


    &__mobile-logo {
        position: absolute;
        top: 30px;
        left: 20px;
        z-index: 2;
        width: 97px;
        height: 54px;
        background-image: url("../../images/logo-grey.svg");
        margin-bottom: 5rem;
        @include breakpoint-up(computer) {
            visibility: hidden;
        }
    }

    &__toggle {
        @include breakpoint-down(ipad) {
            display: block;
            height: 24px;
            position: fixed;
            z-index: 3;
            top: 30px;
            right: 40px;
            // Hamburger lines

            .header__burger {
                &:focus {
                    outline: none;
                    box-shadow: none;}

                > span, > span::before, > span::after {
                    width: 26px;
                    height: 4px;
                    background-color: $white;
                    transition: $transition-200ms;
                    will-change: transform, background-color;
                }

                > span {
                    display: block;
                    position: relative;

                    &::before, &::after {
                        content: "";
                        position: absolute;
                    }
                    &::before  {
                        top: -10px;
                    }

                    &::after  {
                        top: 10px;
                    }
                }
            }
        }

    }
}
.mobile-lines {
    position: relative;
    transition: 200ms;
    margin-bottom: 1rem;

    div {
        height: 4px;
        background-color: $white;
        position: absolute;
    }

    .line1 {
        width: 7px;
        left: -11px;
    }

    .line2 {
        width: 9px;
        top: 10px;
        left: -13px;
    }

    .line3 {
        width: 9px;
        top: 0;
        right: -13px;
    }

    .line4 {
        width: 4px;
        top: 10px;
        right: -8px;
    }

    .line5 {
        width: 8px;
        top: 10px;
        right: -20px;
    }

    .line6 {
        width: 10px;
        top: 20px;
        right: -14px;
    }
}
.header .takaro ul > li::before{
    content: "0" counter(item2);
    counter-increment: item2;
}

.header .takaro ul > li {
    color: $lightblue;

    &::before {
        color: $lightblue;
    }

    a {
        &:hover{
        color: $lightblue;
        }
    }
}
.header .takaro ul > .active-menu {
    color: $lightblue;
    a {
        color: $lightblue;
    }
}