.header {
    position: relative;

    // Hamburger Open Styles
    &.open {
        
        .header__burger {
            > span{
                background-color: transparent;
            }
            
            > span::before {
                transform: rotate(45deg);
                top: 0;
            }
            
            > span::after {
                transform: rotate(-45deg);
                top: 0;
            }
            // Mobile navigation when hamburger is clicked
            // nav {
            //     visibility: visible;
            // }
        }
    }
    
    nav {
        display: none;
    }

    &__mobile-logo {
        position: absolute;
        top: 30px;
        left: 20px;
        z-index: 1;
        width: 97px;
        height: 54px;
        background-image: url("../../images/logo-grey.svg");
    }

    &__toggle {
        position: fixed;
        top: 30px;
        right: 40px;
        z-index: 3;
        display: block;
        // Hamburger lines
        
        .header__burger {

            > span, > span::before, > span::after {
                width: 26px;
                height: 4px;
                background-color: #fff;
                transition: $transition-200ms;
            }
            
            > span {
                display: block;
                position: relative;
                
                &::before, &::after {
                    content: "";
                    position: absolute;
                }
                &::before  {
                    top: -10px;
                }
                
                &::after  {
                    top: 10px;
                }
            }
        }
    }
}
.mobile-lines {
    position: relative;
    transition: 200ms;
    margin-bottom: 1rem;
    
    div {
        height: 4px;
        background-color: #fff;
        position: absolute;
    }
    
    .line1 {
        width: 7px;
        left: -11px;
    }
    
    .line2 {
        width: 9px;
        top: 10px;
        left: -13px;
    }
    
    .line3 {
        width: 9px;
        top: 0;
        right: -13px;
    }
    
    .line4 {
        width: 4px;
        top: 10px;
        right: -8px;
    }
    
    .line5 {
        width: 8px;
        top: 10px;
        right: -20px;
    }
    
    .line6 {
        width: 10px;
        top: 20px;
        right: -14px;
    }
}
