.hero {
    height: 100vh;
    width: 100%;
    background-image: url("../../images/hero-bg-1024w.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    @include breakpoint-up(ipad) {
        background-image: url("../../images/hero-bg-1920w.jpg");
    }
    @include breakpoint-up(computer) {
        background-image: url("../../images/hero-bg.jpg");
    }

    &__wrapper {
        position: absolute;
        z-index: 1;
        height: 100vh;
        width: 100%;
        //background-color: transparentize($black, 0.6);
        background-color: rgba(5, 3, 19, 0.81);// Komplimentær farve til teksten
    }

    &__text {
        display: flex;
        flex-direction: column;
        color: $white;
        width: 100%;
        margin-top: auto;


        h1, p:first-of-type {/*Rework this and add the button and text*/
            line-height: normal;

            @include breakpoint-up(ipad) {
            font-size: $font-xl-fallback;
            font-size: $font-xl;
            }

            @include breakpoint-up(largeComputer) {
                padding: 0rem 16rem;
            }
        }

        p:first-of-type {
            font-weight: 400;
            font-size: 25px;
            font-size: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 5rem;
            @include breakpoint-up(ipad) {
                margin-bottom: 7rem;
            }
            @include breakpoint-up(computer) {
                font-size: 40px;
                font-size: 4rem;
                margin-bottom: 10rem;
            }
        }
    }

    &__button {
        outline: none;
        border: 3px solid $green;
        background: none;
        color: $green;
        font-size: $font-sm-fallback;
        font-size: $font-sm;
        padding: 1.2rem;
        cursor: pointer;
        width: max-content;
        margin: 1rem 0 0 0;
    }

    &__scroll {
        display: block;
        margin-top: 0 auto;
        text-align: center;
        padding: 4rem 2rem;
        color: $gold;
        font-size: $font-xs-fallback;
        font-size: $font-xs;
        cursor: pointer;
        font-weight: bold;

        @include breakpoint-up(ipad) {
            padding: 5rem 6rem;
        };

        @include breakpoint-up(computer) {
            padding: 10rem;
        }

        span {
            display: inline-block;
            color: $gray;
            padding-bottom: 0.5rem;
        }

        &::after {
            content: "";
            display: block;
            width: 13px;
            height: 13px;
            border-right: 3px solid currentColor;
            border-bottom: 3px solid currentColor;
            position: absolute;
            left: 50%;
            transform: rotate(45deg);
        }
    }
}