.hero {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-image: url("../../images/hero-bg-1024w.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    @include breakpoint-up(ipad) {
        background-image: url("../../images/hero-bg-1920w.jpg");
    }
    @include breakpoint-up(computer) {
        background-image: url("../../images/hero-bg.jpg");
    }

    &__wrapper {
        position: absolute;
        z-index: 1;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        width: 100%;
        //background-color: transparentize($black, 0.6);
        background-color: rgba(5, 3, 19, 0.81);// Komplimentær farve til teksten
    }

    &__text {
        color: $white;
        width: 100%;
        margin-top: auto;
        letter-spacing: -0.013em;

        // Todo: turn these paddings into a helper class and reuse them

        h1, p {
            line-height: normal;

            @include breakpoint-up(ipad) {
                font-size: $font-xl-fallback;
                font-size: $font-xl;
            }
        }

        p {
            font-weight: 400;
            font-size: 2.5rem;
            margin-top: 1rem;

            @include breakpoint-up(computer) {
                font-size: 40px;
                font-size: 4rem;
                margin-bottom: 4rem;
            }
        }
    }

    &__scroll {
        display: block;
        text-align: center;
        padding-bottom: 2rem;
        color: $gold;
        font-size: $font-sm-fallback;
        font-size: $font-sm;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 2rem;
        @include breakpoint-up(ipad) {
            margin-bottom: 3rem;
        }
        @include breakpoint-up(computer) {
            margin-bottom: 4rem;
        }

        span {
            display: inline-block;
            color: $gray;
            padding-bottom: 0.5rem;
        }

        &::after {
            content: "";
            display: block;
            width: 13px;
            height: 13px;
            border-right: 3px solid currentColor;
            border-bottom: 3px solid currentColor;
            position: absolute;
            left: 50%;
            transform: rotate(45deg);
        }
    }
}

#dontcry {
    .mobile-lines {
        > div {
            background: #c0bcbb;
        }
    }
    a > span {
        background: $darkblue;
        &::after {
            background: $darkblue;
        }
        &::before {
            background: $darkblue;
        }
    }
}