.main {
    color: $darkblue;

    @include breakpoint-up(computer) {
        display: grid;
        grid-template-columns: 65rem 35rem;
        grid-auto-flow: dense;
        //TODO fix placeringer
        max-width: 38rem;

        &__col1 {
        @include breakpoint-up(computer) {
            grid-column: 1/2;
        }
    }
    }


    h2 {
        font-weight: 400;
        margin-bottom: 2rem;
    }

    &__bodytext {
        margin-top: 1.7rem;
        font-family: 'Roboto', sans-serif;
    }

    &__keywords {
        //color: $orange;
        color: /*TODO change color, issa temporary*/#b53500;
        font-family: 'Roboto Mono', monospace;
        font-weight: 500;
        margin-bottom: 1rem;

        ~ .main__bodytext { // If its sibling is bodytext then give it 1.7rem margin!
            margin-top: .7rem;
        }

    }

    &__col2 {
        /*#firstLottie*/img {
            width: 100%;
            margin: 0 auto;

            @include breakpoint-up(computer) {
                grid-column: 2/3;
                width: 30vw;
                min-width: 200px;
                max-width: 500px;
            }
        }
    }

}
