.main {
    color: $darkblue;
    max-width: 38rem;

    h2 {
        font-weight: 400;
        margin-bottom: 2rem;
    }

    &__bodytext {
        margin-top: 1.7rem;
        font-family: 'Roboto', sans-serif;
    }

    &__keywords {
        //color: $orange;
        color: /*TODO change color, issa temporary*/#b53500;
        font-family: 'Roboto Mono', monospace;
        font-weight: 500;
        margin-bottom: 1rem;

        ~ .main__bodytext { // If its sibling is bodytext then give it 1.7rem margin!
            margin-top: .7rem;
        }

    }
    
}

.aside {
    &__figure {
        #firstLottie {
            width: 100%;
            margin: 0 auto;

            @include breakpoint-up(computer) {
                width: 30vw;
                min-width: 200px;
                max-width: 500px;
                position: fixed;
                top: 50%;
                right: 0;
                z-index: -1;
            }
        }
    }
}