.projects {
    color: $darkblue;

    .main__col1 {
        margin-bottom: 3.4rem;

        h1 {
            margin-bottom: 1rem;
        }
    }

    @include breakpoint-up(largeComputer){
        .container__elem {
            display: grid;
            grid-auto-flow: column;
            column-gap: 1.7rem;

            .main__col1 {
                grid-column: 2/3;
                margin-bottom: unset;
            }
        }
    }

    .main__col2 {
        max-width: unset;

        @include breakpoint-up(ipad) {
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr;
        }

        @include breakpoint-up(computer) {
            grid-template-columns: 350px 350px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        overflow: hidden;

        &:not(:first-of-type) {
            .projects__overlay {
                background: transparentize($purple, 0.15);
            }
        }
        &:hover .projects__image{
            transform: scale(1.05);
        }
      }

      &__image {
        grid-column: 1/-1;
        grid-row: 1/-1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-self: start;
        will-change: transition;
        transition: 750ms transform cubic-bezier(0.23, 1, 0.32, 1);
        z-index: -1;
      }
      
      &__overlay {
          //TODO make div clickable https://stackoverflow.com/questions/20772954/add-click-event-on-div-tag-using-javascript
        background: transparentize($lightblue, 0.3);
        grid-column: 1/-1;
        grid-row: 1/-1;
        position: relative;
        display: grid;
        justify-items: start;
        align-items: space-between;
        padding: 2rem;
      }
      
      &__logo {
        width: 100%;
        height: unset;
        }
      
      &__info {
        align-self: end;
        color: $white;

        p {
            &:first-of-type {
                color: rgba(255,255,255,0.75);
            }
            &:last-of-type {
                margin: 1.7rem 0;
            }
        }
        
        a {
            color: inherit;
            text-decoration: unset;

            &:hover {
                color: unset;
            }
        }
      }
      
}