// Font
$font-xs-fallback: 15px;
$font-xs: 1.5rem;
$font-sm-fallback: 18px;
$font-sm: 1.8rem;
$font-med-fallback: 22px;
$font-med: 2.2rem;
$font-l-fallback: 30px;
$font-l: 3rem;
$font-xl-fallback: 50px;
$font-xl: 5rem;

// Colors
$black: #000;
$white: #FBFBFB;
$gray: #c0bcbb;
$lightgray: #D3D8D2;
$darkblue: #515f6d;
$lightblue: #6696ac;
$gold: #d8a55a;
$orange: #d7734a;
$green: #a6bb75;

// Transitions
$transition-200ms: all .2s ease-in-out;