// Font
$font-sm-fallback: 13px;
$font-sm: 1.3rem;
$font-med-fallback: 18px;
$font-med: 1.8rem;
$font-l-fallback: 2px;
$font-l: 2rem;
$font-xl-fallback: 28px;
$font-xl: 2.8rem;

// Colors
$white: #fff;
$gray: #c0bcbb;
$darkblue: #515f6d;
$lightblue: #6696ac;
$gold: #d8a55a;


// Transitions
$transition-200ms: all .2s ease-in-out;