// Font
$font-sm-fallback: 13px;
$font-sm: 1.3rem;
$font-med-fallback: 16px;
$font-med: 1.6rem;
$font-l-fallback: 2px;
$font-l: 2rem;
$font-xl-fallback: 28px;
$font-xl: 2.8rem;


// Transitions
$transition-200ms: all .2s ease-in-out;